<h1>Report</h1>

<ul>
    <li><a href="@Url.Action("VerbaliPerTrasgressore")">Verbali per Trasgressore</a></li>
    <li><a href="@Url.Action("PuntiDecurtatiPerTrasgressore")">Punti Decurtati per Trasgressore</a></li>
    <li><a href="@Url.Action("ViolazioniImportoMaggiori400")">Violazioni con Importo Maggiore di 400€</a></li>
</ul>
